<main>
    <div class="container">
        <section class="hero">
            <div class="hero-content">
                <h1 class="hero-heading">
                    <span class="text-primary">Her yerden</span> öğren
                </h1>
                <p>Nerede olursan ol öğrenmeye devam et.</p>
                <div class="hero-actions nav-btns">
                    <a href="javascript:;" class="btn btn-outline-primary">
                        Başla
                    </a>
                    <a href="javascript:;" class="btn btn-primary">
                        Kursları gör
                    </a>
                </div>
            </div>
            <div class="hero-img">
                <img src="../../../assets/image/5293.png" alt="Her yerden öğren" class="img-fluid">
            </div>
        </section>
        <section class="my-5">
            <h3 class="my-5">Popüler dersler
                <a href="javascript:;" class="btn btn-primary float-end">Hepsini gör</a>
            </h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="https://picsum.photos/seed/1/350/350" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lorem Ipsum</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="https://picsum.photos/seed/2/350/350" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lorem Ipsum</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="https://picsum.photos/seed/3/350/350" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lorem Ipsum</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="https://picsum.photos/seed/4132/350/350" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lorem Ipsum</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row-list my-5">
            <div class="row my-5">
                <div class="col-md-6">
                    <h3 class="row-title">Lorem ipsum dolor sit amet, consetetur</h3>
                    <p>
                        Lorem ipsum dolora sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://picsum.photos/seed/5/550" class="img-fluid w-100" alt="...">
                </div>
            </div>
            <div class="row my-5 flex-row-reverse">
                <div class="col-md-6">
                    <h3 class="row-title">Lorem ipsum dolor sit amet, consetetur</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://picsum.photos/seed/6/550" class="img-fluid w-100" alt="...">
                </div>
            </div>
        </section>
    </div>
</main>