<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 class="title">Lorem</h5>
        <ul class="menu">
          <li><a href="javascript:;">Test</a></li>
          <li><a href="javascript:;">Test</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="title">Lorem</h5>
        <ul class="menu">
          <li><a href="javascript:;">Test</a></li>
          <li><a href="javascript:;">Test</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="title">Lorem</h5>
        <ul class="menu">
          <li><a href="javascript:;">Test</a></li>
          <li><a href="javascript:;">Test</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="title">Lorem</h5>
        <ul class="menu">
          <li><a href="javascript:;">Test</a></li>
          <li><a href="javascript:;">Test</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <div>Lorem ipsum</div>
      <div>social icons</div>
    </div>
  </div>
</footer>